<!DOCTYPE html>

<html>
  <head>
    <title>{{concept.jcpt}} [{{current}}]</title>
    {{#each css_uri}}
    <link rel="stylesheet" href="{{this}}" />
    {{/each}}
    <link rel="stylesheet" href="/stanza/assets/fa/css/theme.default.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    {{adjust_iframe_height_script}}
    <script src="/stanza/assets/fa/js/jquery.tablesorter.js"></script>
    <style>
    #cptchild ul {list-style-type:none;margin:0;padding:0;overflow:hidden;}
    #cptchild li {float:left;margin:0 10pt 0 0}
    h1 {border-style: solid; border-width: 0 0 0 0; margin:10pt 0 0 3pt; padding: 0 0 0 7pt}
    </style>
  </head>

  <body>
   <h1>{{concept.jcpt}}<sup><a href="{{concept.dmh}}">*</a></sup> [{{current}}]</h1>
   <div id="cptancestor">
   {{#each ancestor}}
   <a href="{{ac}}">{{lb}}</a> > 
   {{/each}}
   {{#if ancestor}}
     {{concept.jcpt}}
   {{else}}
     <a href="/stanza/top">トップ</a>
   {{/if}}
   </div>
   {{#if children}}
     <div id="cptchild"><ul>
     {{#each children}}
       <li><a href="{{parent}}">{{jcpt}}</a></li>
     {{/each}}
     </ul></div>
   {{/if}}
   <table id="faTable" class="tablesorter">
    <thead><tr><th>Concept</th><th>Count</th><th>Title</th></tr></thead>
    <tbody>
    {{#each articles}}
      <tr><td><a href="{{jcode}}">{{lb}}</a></td><td>{{cnt}}</td><td><a href="{{url}}">{{title}}</a></td></tr>
    {{/each}}
    </tbody></table>
  </body>
  <script>
$(function(){
  $("#faTable").tablesorter();
});
  </script>
</html>
